@charset "UTF-8";

/* 用于检查空白溢出的方法 
 	* {
    	background: #000 !important;
     	color: #0f0 !important;
   		outline: solid #f00 1px !important;
 	}
*/

body{
	margin: 0px;
	padding: 0px;
}

		#bodyContainer{
			width:75em;
			margin: 0em  auto;
		}
	
				nav{
					float: left;
					position:fixed;
				    line-height:200%;
				    background-color:#eeeeee;
				    width:13em;
				    padding:5px;
					z-index: 1;
				}
				
				nav ul, nav ul li {
					list-style: none;
					margin: 0;
					padding: 0;
					float: left;
					width: 11em;
				}
				nav ul li {
					height: 2em;
					padding: 0 1em;
				}
				nav ul li:hover {
					background: #FFCC33;
				}
				nav ul li a {
					text-decoration: none;
					color: black;
				}
				
				nav ul li:hover a{
					color: white;
				}
				nav p {
					clear: both;
				}
				
				#articalContainer{
					margin-left: 13.5em;
					z-index:2;
				}
				
				
				footer {
				    background-color:black;
				    color:white;
				    clear:both;
				    text-align:center;
				    padding:5px;
				}
				
						Table{
							border-collapse:collapse;
						}

